.view_comp_card_wr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 130px;
  border-radius: 5px;
  
  background: #ffffff;
}
.view_comp_card_wr::before {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
  opacity: 0.5;
  border-radius: 5px;
}
.view_comp_card_wr:hover {
  box-shadow: 3px 2px 2px 5px rgba(6, 6, 4, 0.1);
  transition: 0.3s;
}
.view_comp_card_info_wr {
  margin: 30px 0 0 30px;
  display: flex;
  flex-direction: column;
  background: inherit;
}
.view_comp_card_info_title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background-color: #ffffff;
}
.view_comp_card_info_desc {
  display: flex;
  flex-direction: row;
  background: inherit;
}
.view_comp_card_info_desc span {
  background: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 407px;
  height: 43px;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
}
.view_comp_card_info_desc_full {
  cursor: pointer;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: inherit;
  font-weight: 200;
  font-size: 12px;
  opacity: 0.5;
}
.view_comp_card_tag_wr {
  margin: 28px 30px 0 70px;
  display: flex;
  flex-wrap: wrap;
  background: inherit;
}
.view_comp_card_tag_item {
  margin: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  background: inherit;
  border: 1px solid #333333;
  border-radius: 5px;
  width: fit-content;
  height: 30px;
  padding: 10px 15px;
}
.view_comp_card_tag_item:hover {
  cursor: default;
  background-color: #6ecfbc;
  color: #ffffff;
  transition: 0.3s;
}
